.leaderboard {
  min-height: calc(100vh - 160px);
}

.leaderboard__title {
  background-color: darkgreen;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-align: center;
}

.leaderboard__title h3 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.leaderboard__table {
  margin-bottom: 0px;
  background-color: white;
  font-size: 18px;
  border: 1px solid black;
  border-collapse: inherit;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.leaderboard__table-number {
  width: 5%;
}

.leaderboard__table-sort {
  width: 30%;
  text-align: center;
  color: darkgreen;
  cursor: pointer;
}

.leaderboard__table-sort--active {
  text-decoration: underline;
  text-decoration-color: darkgreen;
}

.leaderboard__table-sort--active {
  cursor: default;
}

.leaderboard__loading {
  text-align: center;
}

.leaderboard__username-img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: 2px solid darkgreen;
}

.leaderboard__points {
  text-align: center;
  vertical-align: middle !important;
}

.leaderboard__position {
  vertical-align: middle !important;
}
