.footer {
  box-sizing: border-box;
  height: 50px;
  padding-top: 15px;
  background-color: darkgreen;
  text-align: center;
}

.footer__copyright {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
