.footer {
  box-sizing: border-box;
  height: 50px;
  padding-top: 15px;
  margin-top: 30px;
  background-color: darkgreen;
  text-align: center;
  color: white;
  font-weight: 400;
}

.footer__copyright {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.footer__copyright:hover {
  color: white;
  text-decoration: underline;
}
